body, h2 {
    padding: 0;
    margin: 0;
}

.control_label_show {
    font-size: medium;
    /*background-color: darkgrey;*/
    background-color: #8BC6EC;
    background-image: linear-gradient(167deg, #8BC6EC 0%, #9596a2 100%);
    float: left;
    width: 200px;
    line-height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}